<!DOCTYPE html>
<html>
<head>
	<title>Juice Shop</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="cover">
	<header>
		<section>
			<div class="left">
				<a href="/"><img class="logo" src="../images/logo.png"></a>
			</div>
			<div class="tagline">
				<h2>Juice Shop</h2>
			</div>
			<div class="clear"></div>
		</section>
		<nav>
			<ul class="menu">
				<li>
					<a href="orderjuices">Order Juices</a>
				</li>
				<li>
					<a href="vieworders">View Orders</a>
				</li>
				<li>
					<a href="login">Login</a>
				</li>
				<li>
					<a href="logout">Logout</a>
				</li>				
			</ul>
		</nav>
	</header>
